.box1{
  width: 300px;
  height: 300px;
  background-color: #7fffd4;
  margin: 40px 40px;
  padding: 30px;
}


.box2{
  width: 100px;
  height: 100px;
  background-color: #00bfff;
  border:5px solid yellow;
}